h1 {
    text-align:center;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
}

 html {
    min-height: 100%;
 }

body {
    background: linear-gradient(180deg, #FFEEEE, #DDEFBB);
}

.container {
    margin:0 auto;
    display: table;
}
